<div class="ChoseContainer mat-elevation-z8">
  <input type="file" style="display: none;" (change)="onFileChanged($event)" placeholder="Upload file" accept=".xlsx" #fileInput>
  <button (click)="fileInput.click()" mat-flat-button color="primary" class = "SelectButton">Выбрать файл</button>
  <div class="nameFile" *ngIf = "load">Выбран: {{file.name}}</div>
  <button type="button" mat-flat-button color="primary" class = "UploadButton" (click)="Upload()" [disabled]="upload_button">Загрузить файл</button>
</div>
<app-tender-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" ></app-tender-table>
