
.ChoseContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 97%;
  padding: 5px;
  margin: 1.5rem auto;

}

  .nameFile{
    border: 1px solid darkgrey;
    width: 200px;
    height: 40px;
    padding: 5px;
  }

.example-chip-list{
  margin: 10px auto 10px 10px;
  width: 60%;
}
.mat-chip{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 10px;
}

.fieldset{
  border: 1px solid darkgrey;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  width: 45%;

}
.SelectButton{


  margin: 10px auto 10px 10px;
}
.UploadButton{


  margin: 10px 10px 10px auto;
}
.ApiButton{

  margin: 10px auto 10px 10px;
}

.cardTender{
  max-width: 300px;
  margin-left: 15px;
  margin-bottom: 10px;

}
.plan{
  background-color: #FCD05A;
}
.dublicate{
  background-color: #FC5A62 ;
}
.OneTender{
  display: inline-block;
  flex-direction: column;
  flex-wrap: nowrap;
}
.spacer {
  flex-grow: 1;
}
.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}
