<h1 style="display: flex"><span style="margin: auto">Заменить продукт</span></h1>
<mat-dialog-content style="display: flex; align-items: center">
  <div class="changeDiv">
    <div>
      <app-product-category-autocomplet (Change)="onChangeCategory($event)" ></app-product-category-autocomplet>
    </div>
    <div>
      <app-vendor-code-autocompleat></app-vendor-code-autocompleat>
    </div>

  </div>
 <mat-icon>double_arrow</mat-icon>
  <div class="changeDiv">
    <div style="margin: auto">
      <app-product-category-autocomplet (Change)="onChangeNewCategory($event)" #newCategory></app-product-category-autocomplet>
    </div>
    <div>
      <app-vendor-code-autocompleat #newVendorCodeAutocomplete ></app-vendor-code-autocompleat>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" >

  <button mat-button (click)="Change()">Заменить</button>
  <button mat-button mat-dialog-close="true">Закрыть</button>
</mat-dialog-actions>
