.ChoseContainer{
  width: 97%;
  padding: 5px;
  margin: 1.5rem auto;
  height: fit-content;

}
.Filter{
  position: sticky;
  top: 40px;
  display: inline-block;
  min-width: 200px;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border-radius: 8px;
  border: 2px solid #e3e3e3;
}
.filter {
  margin-left: 15px;
  //width: 100%;
}
.tableContainer{
  display: inline-block;
  padding-left: 5px;
}
.bodyContainer {
  display: flex;
  width: 97%;
  overflow: visible;
  margin: 1.5rem auto;
  height: fit-content;
  align-items: flex-start;
}
.row{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.EditContainer{
    position: sticky;
    top: 40px;
    display: inline-block;
    min-width: 200px;
    margin-top: 60px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #e3e3e3;
}
.mat-cell, .mat-header-cell {
  font-size: 14px;
  min-height: 48px;
  min-width: 40px;
  text-align: center;
}
.Childmargin{
  margin: 5px;
}
.id{
  min-width: 50px;
  max-width: 80px;
}
.show_table{
  margin-left: 10px;
}
