<div class="ChoseContainer mat-elevation-z8">

  <app-product-category-autocomplet (Change)="onChange($event)" class="vendor_code"></app-product-category-autocomplet>
  <button mat-flat-button color="primary" (click)="showTables()" class="show_table">Показать таблицу</button>

  <mat-form-field class="filter">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
  </mat-form-field>


</div>
<div class ="bodyContainer mat-elevation-z8">
<div class="tableContainer" *ngIf="columns.length != 0">

  <table mat-table matSort  [dataSource]="dataSource" >

    <ng-container [matColumnDef]="column" *ngFor="let column of columns.slice(0,columns.length-1) ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element" > {{element[column]}} </td>
    </ng-container>
    <ng-container matColumnDef="edit" >
      <th mat-header-cell *matHeaderCellDef > edit</th>
      <td mat-cell *matCellDef="let element" >
        <button mat-icon-button color="primary" (click)="editProduct(element)">
          <mat-icon>edit</mat-icon>
        </button> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
  <div class="EditContainer" *ngIf="columns.length != 0">
    <div class="row">
      <mat-form-field appearance="outline" *ngIf="product.id != null" class="Childmargin id">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" type="number" [(ngModel)]="product.id">
      </mat-form-field>

      <app-vendor-autocomplet (Change)="onChangeVendor($event)" *ngIf="product.vendor != null" class="vendor Childmargin"></app-vendor-autocomplet>

      <mat-form-field appearance="outline" *ngIf="product.vendor_code != null" class="vendor" class="Childmargin">
      <mat-label>Артикул</mat-label>
      <input matInput placeholder="Артикул" type="text" [(ngModel)]="product.vendor_code">
      </mat-form-field>

    </div>
    <div class="row">
      <mat-checkbox class="Childmargin" color="primary" *ngIf="product.vxi != null" [(ngModel)]="product.vxi" >VXI</mat-checkbox>
      <mat-checkbox class="Childmargin" color="primary" *ngIf="product.usb != null" [(ngModel)]="product.usb">USB</mat-checkbox>
      <mat-checkbox class="Childmargin" color="primary" *ngIf="product.portable != null" [(ngModel)]="product.portable">Портативный</mat-checkbox>
      <mat-form-field appearance="outline" *ngIf="product.frequency != -1" class="Childmargin">
        <mat-label>Частота/Полоса пропускания</mat-label>
        <input matInput placeholder="Частота/Полоса пропускания" type="number" [(ngModel)]="product.frequency" >
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="product.channel != -1" class="Childmargin">
        <mat-label>Каналы</mat-label>
        <input matInput placeholder="Число каналов" type="number" [(ngModel)]="product.channel" >
      </mat-form-field>
    </div>
    <div class="row">
      <button mat-flat-button color="primary" (click)="default()" style="position: center">Сбросить</button>
      <button mat-flat-button color="primary" (click)="saveProduct()" style="position: center">Сохранить</button>
    </div>
  </div>
</div>
