<div class ="bodyContainer mat-elevation-z8">
  <div class="tableContainer" >

    <table mat-table matSort  [dataSource]="dataSource" >
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
        <td mat-cell *matCellDef="let element" > {{element.big_category_id}} </td>
      </ng-container>
      <ng-container matColumnDef="big_category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Категория </th>
        <td mat-cell *matCellDef="let element" > {{element.big_category}} </td>
      </ng-container>
      <ng-container matColumnDef="product_category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Синонимы </th>
        <td mat-cell *matCellDef="let element" > {{element.productCategory}} </td>
      </ng-container>
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef >Изменить</th>
        <td mat-cell *matCellDef="let element" >
          <button mat-icon-button color="primary" (click)="editSynonyms(element)">
            <mat-icon>edit</mat-icon>
          </button> </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>

  <div class="Filter" *ngIf="columns.length != 0 ">
    <div>
      <mat-form-field class="filter">
        <mat-label>Поиск</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Поиск" #input>
      </mat-form-field>
    </div>
  </div>

  <div class="EditContainer" *ngIf="user != null && user.role !== 'ROLE_USER' && columns.length != 0 ">
    <div class="row">
      <mat-form-field appearance="outline" *ngIf="bigCategory.big_category_id != null" class="Childmargin id">
        <mat-label>Id</mat-label>
        <input matInput placeholder="Id" type="number" [(ngModel)]="bigCategory.big_category_id" [disabled]="true">
      </mat-form-field>
      <mat-form-field appearance="outline" class="Childmargin">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Название большой категории" type="text" [(ngModel)]="bigCategory.big_category">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-chip-list  aria-label="Выбранные продукты">
        <mat-chip *ngFor="let category of bigCategory.category" [selectable]="selectable"
                  [removable]="removable" (removed)="removeCategory(category)">
          {{category.category}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <app-product-category-autocomplet (Change)="onChangeCategory($event)"></app-product-category-autocomplet>
    </div>
    <div class="row">
      <button mat-flat-button color="primary" (click)="default()" style="position: center">Сбросить</button>
      <button mat-flat-button color="primary" (click)="saveBigCategory()" style="position: center">Сохранить</button>
    </div>
  </div>
</div>

