<div class="ChoseContainer mat-elevation-z8">
 <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          <mat-chip-list   multiple>
            <mat-chip *ngFor="let col of AllColums"
                      [selected]="isSelected(col)"
                      (click)="toggleOffer(col)">
              {{col.nameru}}&nbsp;
              <!-- <mat-icon>{{isSelected(col) ? "close" : "add"}}</mat-icon>-->

            </mat-chip>

          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-data-range ></app-data-range>
      <app-autocomplet-type > </app-autocomplet-type>
      <app-custom-autocomplet></app-custom-autocomplet>
      <mat-form-field appearance="outline" class = "MinSum">
        <mat-label>Минимальная сумма</mat-label>
        <input matInput  [formControl]="minSum"  type="number" >
        <mat-error>Вышли за пределы 0 - 999 999 999 999</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class = "MaxSum">
        <mat-label>Максимальная сумма</mat-label>
        <input matInput [formControl]="maxSum" type="number" >
        <mat-error>Вышли за пределы 0 - 9999 999 999 999</mat-error>
      </mat-form-field>
      <app-winner-autocomplet></app-winner-autocomplet>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-flat-button color="primary" (click)="showTables()">Показать таблицу</button>
</div>



<app-tender-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-tender-table>

