<div class="ChoseContainer mat-elevation-z8">
 <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-description>
          <mat-chip-list   multiple>
            <mat-chip *ngFor="let col of AllColums"
                      [selected]="isSelected(col)"
                      (click)="toggleOffer(col)">
              {{col.nameru}}&nbsp;
              <!-- <mat-icon>{{isSelected(col) ? "close" : "add"}}</mat-icon>-->

            </mat-chip>

          </mat-chip-list>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-data-range ></app-data-range>
      <app-autocomplet-type > </app-autocomplet-type>
      <app-custom-autocomplet></app-custom-autocomplet>
      <mat-form-field appearance="outline" class = "MinSum">
        <mat-label>Минимальная сумма</mat-label>
        <input matInput  [formControl]="minSum"  type="number" >
        <mat-error>Вышли за пределы 0 - 999 999 999 999</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class = "MaxSum">
        <mat-label>Максимальная сумма</mat-label>
        <input matInput [formControl]="maxSum" type="number" >
        <mat-error>Вышли за пределы 0 - 9999 999 999 999</mat-error>
      </mat-form-field>
      <app-winner-autocomplet></app-winner-autocomplet>
    </mat-expansion-panel>
  </mat-accordion>
  <button mat-flat-button color="primary" (click)="showTables()">Показать таблицу</button>
</div>


<div class="tableContainer  mat-elevation-z8">
<table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows >
  <ng-container matColumnDef="id">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
  <td mat-cell *matCellDef="let post"> {{ post.id }} </td>
</ng-container>
  <ng-container matColumnDef="nameTender">
  <th mat-header-cell *matHeaderCellDef>Название тендера</th>
  <td mat-cell *matCellDef="let post"> {{ post.name_tender }} </td>
</ng-container>
  <ng-container matColumnDef="customer">
    <th mat-header-cell *matHeaderCellDef>Заказчик</th>
    <td mat-cell *matCellDef="let post"> {{ post.customer }} </td>
  </ng-container>
  <ng-container matColumnDef="typetender">
    <th mat-header-cell *matHeaderCellDef >Тип тендера</th>
    <td mat-cell *matCellDef="let post"> {{ post.typetender }} </td>
  </ng-container>

  <ng-container matColumnDef="sum" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Сумма</th>
    <td mat-cell *matCellDef="let post"> {{ post.sum | currency : 'RUB':'symbol': '1.2-2':'ru'}} </td>
  </ng-container>
  <ng-container matColumnDef="dateStart" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата начала</th>
    <td mat-cell *matCellDef="let post"> {{ post.date_start | date:'dd.MM.yyyy': "UTC" }} </td>
  </ng-container>
  <ng-container matColumnDef="dateFinish" >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Дата окончания</th>
    <td mat-cell *matCellDef="let post"> {{ post.date_finish | date:'dd.MM.yyyy HH:mm:ss': "UTC"}} </td>
  </ng-container>
  <ng-container matColumnDef="winSum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Выиграшния Сумма</th>
    <td mat-cell *matCellDef="let post"> {{ post.win_sum | number : '1.2-2':'ru'}} </td>
  </ng-container>
  <ng-container matColumnDef="winner">
    <th mat-header-cell *matHeaderCellDef>Победитель</th>
    <td mat-cell *matCellDef="let post"> {{ post.winner }} </td>
  </ng-container>

<!--[{name: 'id', nameru: 'ID'}, {name: 'nameTender', nameru: 'Название тендера'}, {name: 'customer', nameru: 'Заказчик'}, {name: 'typetender', nameru: 'Тип тендера'},

    {name: 'numberTender', nameru: 'Номер тендера'}, {name: 'bicoTender', nameru: 'БикоТендер'}, {name: 'gosZakupki', nameru: 'Госзакупки'}, {name: 'price', nameru: 'Цена'},
    {name: 'currency', nameru: 'Валюта'}, {name: 'rate', nameru: 'Курс'}, {name: 'sum', nameru: 'Сумма'}, {name: 'dateStart', nameru: 'Дата начала'},
    {name: 'dateFinish', nameru: 'Дата окончания'}, {name: 'fullSum', nameru: 'Полная сумма'}, {name: 'winner', nameru: 'Победитель'}, {name: 'winSum', nameru: 'Выиграшная сумма'}];-->

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <div class="block_column">ИНН - {{element.inn}}</div>
          <div class="block_column"><span>Госзакупки -  <a href="{{ element.gos_zakupki }}">текст ссылки</a></span></div>
          <div class="block_column"><span>Бикотендер - <a href="{{ element.bico_tender }}">текст ссылки</a></span></div>
          <div class="block_column"><span>Номер тендера - {{element.number_tender}}</span></div>
          <div class="block_column"><span>Цена - {{element.price| currency : element.currency:'symbol': '1.2-2':'ru'}}</span></div>
          <div class="block_column"><span>Валюта - {{element.currency}}</span></div>
          <div class="block_column"><span>Курс - {{element.rate}}</span></div>
          <div class="block_column"><span>Полня стоимость - {{element.full_sum  | currency : element.currency:'symbol': '1.2-2':'ru'}}</span></div>
          <button mat-icon-button color="primary" aria-label="Изменить тендер" (click)="showTender()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>


</table>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
