<mat-dialog-content>
  Как вы хотите удалить?
  <br>
  <span *ngIf="data.product_category === 'Продукты'">
    {{data.product}} {{data.comment}} - {{data.number}}
  </span>
  <span *ngIf="data.product_category !== 'Продукты'">
    {{ data.product_category}} {{data.product}} ({{data.comment}}) - {{data.number}}
  </span>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button  [matDialogClose]="true">Удалить полностью</button>
  <button mat-button  [matDialogClose]="false" >Добавить в другое оборудование</button>
</mat-dialog-actions>
