<div class="fixActionRow">
<mat-dialog-content >
  <mat-tab-group mat-align-tabs="center"  [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event); changeTab()">
    <mat-tab label="Основная информация и продукты" *ngIf="!dataDialog.adjacent_tender && !dataDialog.plan">
      <div class = "rowHeader">
        <div class = "id">{{data.id}}</div>
        <div class = "name_tender"> <a href="{{ data.bico_tender }}" target="_blank">{{data.name_tender}}</a> </div>
        <div class = "number_tender">{{data.number_tender}}</div>
      </div>
      <hr>
      <div class = "row">
        <div class = "typetender">Тип тенедера:</div>
        <div class = "typetender_name">

          {{data.typetender}}
        </div>
        <div class = "customer">Заказчик:</div>
        <div class="customer_name">{{data.customer}}</div>

        <div class = "inn">ИНН <br>{{data.inn}}</div>
      </div>
      <hr>
      <div class = "row">
        <div class="block_column">
            <span>Цена -
              {{data.price  | currency : data.currency:'symbol': '1.2-2':'ru'}}
            </span>
        </div>
        <div class="block_column"><span>Валюта - {{data.currency}}</span></div>
        <div class="block_column"><span>Курс - {{data.rate}}</span></div>
        <div class="block_column"><span>Полная стоимость - {{data.full_sum  | currency : data.currency:'symbol': '1.2-2':'ru'}}</span></div>
      </div>
      <hr>

      <div class = "row">
        <app-category-product (Change)="ChangeCategoryProduct($event)"></app-category-product>
          <app-product-category-autocomplet (Change)="ChangeCategory($event)" class="vendor_code"></app-product-category-autocomplet>

        <app-vendor-autocomplet (Change)="ChangeVendor($event)" > </app-vendor-autocomplet>
        <app-subcategory-autocomplet (Change)="ChangeSubCategory($event)"></app-subcategory-autocomplet>
          <app-vendor-code-autocompleat (Change)="ChangeVendorCode($event)"></app-vendor-code-autocompleat>
      </div>
      <div class="row">
          <mat-form-field appearance="legacy">
            <mat-label>Комментарий</mat-label>
            <textarea matInput placeholder="Комментарий" [(ngModel)]="comment"></textarea>
          </mat-form-field>
          <mat-form-field appearance="outline" class="num" >
            <mat-label>Количество</mat-label>
            <input matInput placeholder="Количество" type="number" [(ngModel)]="number" >
          </mat-form-field>
          <mat-form-field appearance="outline" class="num">
            <mat-label>Цена за шт</mat-label>
            <input matInput placeholder="Цена за шт" type="number" [(ngModel)]="price" >
          </mat-form-field>
          <div class="plusProduct">
            <button mat-mini-fab color="primary" aria-label="plus one icon" (click)="addProduct()" *ngIf="editOrders === null">
              <mat-icon class="iconPlus">plus_one</mat-icon>
            </button>
            <button mat-mini-fab color="primary" aria-label="plus one icon" (click)="saveProduct()" *ngIf="editOrders !== null">
              <mat-icon class="iconPlus">save</mat-icon>
            </button>
          </div>
        </div>

      <div class="row">
          <mat-checkbox class="example-margin" color="primary" *ngIf="parameters.includes('vxi')" [(ngModel)]="vxi" >VXI</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" *ngIf="parameters.includes('usb')" [(ngModel)]="usb">USB</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" *ngIf="parameters.includes('portable')" [(ngModel)]="portable">Портативный</mat-checkbox>
          <mat-checkbox class="example-margin" color="primary" *ngIf="parameters.includes('type_current')" [(ngModel)]="type_current">AC/DC</mat-checkbox>
          <mat-form-field appearance="outline" *ngIf="parameters.includes('frequency')">
            <mat-label>Частота/Полоса пропускания</mat-label>
            <input matInput placeholder="Частота/Полоса пропускания" type="number" [(ngModel)]="frequency" >
          </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="parameters.includes('voltage')">
          <mat-label>Напряжение</mat-label>
          <input matInput placeholder="Напряжение" type="number" [(ngModel)]="voltage" >
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="parameters.includes('current')">
          <mat-label>Ток</mat-label>
          <input matInput placeholder="Ток" type="number" [(ngModel)]="current" >
        </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="parameters.includes('channel')">
            <mat-label>Каналы</mat-label>
            <input matInput placeholder="Число каналов" type="number" [(ngModel)]="channel" (change)="ChangeChannel()">
          </mat-form-field>
          <mat-form-field appearance="outline" *ngIf="parameters.includes('port')">
            <mat-label>Порты</mat-label>
            <input matInput placeholder="Число портов" type="number" [(ngModel)]="port" >
          </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="parameters.includes('form_factor')">
          <mat-label>Форм-фактор</mat-label>
          <input matInput placeholder="Форм-фактор" type="text" [(ngModel)]="form_factor" >
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="parameters.includes('purpose')">
          <mat-label>Назначение</mat-label>
          <input matInput placeholder="назначение" type="text" [(ngModel)]="purpose" >
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="parameters.includes('accuracy')">
          <mat-label>Точность</mat-label>
          <input matInput placeholder="Точность" type="number" [(ngModel)]="accuracy" >
        </mat-form-field>
        </div>
        <div class="row">
          <div *ngIf="parameters.includes('channel_for_table')" class="row_channel_for_table">
              <mat-form-field appearance="outline" *ngFor="let parametr of channel_for_table" class = "channel_for_table">
                <mat-label>
                  <span *ngIf="parametr.name.includes('current')">Сила тока канала {{parametr.name.substring(parametr.name.indexOf('current')+7)}}</span>
                  <span *ngIf="parametr.name.includes('voltage')">Напряжение канала {{parametr.name.substring(parametr.name.indexOf('voltage')+7)}}</span>
                </mat-label>
                <input matInput type="number" [(ngModel)]="parametr.value" >
              </mat-form-field>
          </div>
        </div>


      <div class="row" >
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- product_category: string;
          id_product: string;
          tender: number;
          number: number;
          comment: string;
          price: number;
          winprice: number; -->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef>
              Удалить
            </th>
            <td mat-cell  *matCellDef="let element">
              <button mat-icon-button color="primary"  (click)="deleteProduct(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="copy">
            <th mat-header-cell *matHeaderCellDef>
              Скопировать
            </th>
            <td mat-cell  *matCellDef="let element">
              <button mat-icon-button color="primary"  (click)="copyProduct(element)">
                <mat-icon>content_copy</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef>
              Изменить
            </th>
            <td mat-cell  *matCellDef="let element">
              <button mat-icon-button color="primary"  (click)="editProduct(element)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="product_category">
            <th mat-header-cell *matHeaderCellDef> Категория Продукта </th>
            <td mat-cell *matCellDef="let element"> {{element.product_category}} <span *ngIf="element.subcategory != null"> {{element.subcategory}}</span> </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="id_product">
            <th mat-header-cell *matHeaderCellDef> Артикул </th>
            <td mat-cell *matCellDef="let element"> {{(element.vendor_DB!= 1?element.vendor+' ':'')+(element.product !== 'Без артикула'?element.product:'')}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="comment">
            <th mat-header-cell *matHeaderCellDef> Комментарий </th>
            <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Количество </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Цена </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
<!--          <ng-container matColumnDef="winprice">-->
<!--            <th mat-header-cell *matHeaderCellDef style="text-align: center"> Цена<br>победителя </th>-->
<!--            <td mat-cell *matCellDef="let element"> {{element.winprice}} </td>-->
<!--          </ng-container>-->
          <tr mat-header-row *matHeaderRowDef="['copy','edit','product_category',  'id_product',  'comment',  'number',    'price', 'delete']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['copy','edit','product_category',  'id_product',  'comment',  'number',    'price', 'delete'];"></tr>
        </table>
      </div>
    </mat-tab >

    <mat-tab>
      <ng-template mat-tab-label><span [matBadge] = CountComment *ngIf="CountComment !== 0">Комментарии</span><span *ngIf="CountComment === 0">Комментарии</span></ng-template>
      <div *ngIf="dataDialog.adjacent_tender && dataDialog.plan" class="rowComment">
        <h2>Данный раздел доступен с основными тендерами</h2>
      </div>
      <div *ngIf="!dataDialog.adjacent_tender  && !dataDialog.plan">
        <div class="rowComment">
          <mat-chip-list  aria-label="Выбранные пользователя для оповещения">
            <mat-chip *ngFor="let user of users" [selectable]="selectable"
                      [removable]="removable" (removed)="removeUser(user)">
              {{user.nickname}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <div class="rowComment">
          <app-user-autocomplet (Change)="ChangeUser($event)"></app-user-autocomplet>
          <mat-form-field class="comment" appearance="fill" hintLabel="Максимум 1024 символа">
            <mat-label>Введите комментарий</mat-label>
            <textarea matInput #input placeholder="Ваш коменнтарий" [(ngModel)]="ChangeComment.text" maxlength="1024"></textarea>
            <mat-hint align="end">{{input.value?.length || 0}}/1024</mat-hint>
          </mat-form-field>
          <div>
            <button mat-mini-fab color="primary" aria-label="plus one icon" (click)="addComment()">
            <mat-icon class="iconPlus">send</mat-icon>
            </button>
          </div>

        </div>
        <hr>
        <div class="rowComment">
        <mat-list style="padding: 30px; width: 70%">
          <mat-list-item *ngFor="let comment of comments" style="height: fit-content">
            <div class="commentCard">
              <div class="commentBody">

                <div class="commentHeader">
                  <div class="circle" tabindex="-1" [style.background-color]="UserColor.get(comment.usr)" ><div style="margin-top: 2px;margin-left: auto;color: white">{{comment.user[0].toUpperCase()}}</div></div>
                  <div class="commenterName">
                    {{comment.user}}
                  </div>
                  <div class="timestamp">
                    {{comment.date | date:'dd.MM.yyyy HH:mm:ss': "UTC"}}
                  </div>
                </div>
                <div class = "content">
                  {{comment.text}}
                </div>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Изменение тенедера" >
      <button mat-flat-button color="warn" (click)="deleteTender()" ><mat-icon>delete_outline</mat-icon> Удалить</button>
      <button mat-flat-button color="primary" (click)="openDived()">Разделить</button>
      <span *ngIf="data.tender_plan != null">Планы графики этого тендера: {{data.tender_plan}}
      </span>
      <span *ngIf="data.tender_dublicate != null">
        Дубликаты тендера:
        <span *ngFor="let id_tender of data.tender_dublicate.split('/ /')" >
          <a [href]="getURL(id_tender)" target="_blank">{{id_tender}}</a>
        </span>
      </span>
      <div class = "rowChange" >
        <div *ngIf="!dataDialog.adjacent_tender && !dataDialog.plan" style="width: 200px">
          <input matInput  placeholder="ID нового тендера"  [(ngModel)]="newTender" type="number" *ngIf="!data.dublicate">
          <button mat-button (click)="dublicate(data.id, newTender)" *ngIf="!data.dublicate && newTender != data.id">Дубликат</button>
          <button mat-button (click)="deleteDublicate()" *ngIf="data.dublicate">Не дубликат</button>
        </div>



        <span style="padding-right: 10px;padding-left: 10px">ID:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput [disabled]="true" placeholder="Id" [(ngModel)]="data.id">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Номер:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput [disabled]="true" placeholder="номер тендера" [(ngModel)]="data.number_tender">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Название:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <mat-label>Название:</mat-label>
          <textarea matInput placeholder="Название тендера" [(ngModel)]="data.name_tender"></textarea>
        </mat-form-field>
        <app-autocomplet-type (Change)="onchangeType($event)"></app-autocomplet-type>
      </div>
      <div class = "rowChange">
        <span >Ccылки</span>
        <span style="padding-right: 10px;padding-left: 10px"><a href="{{ data.bico_tender }}" target="_blank">Bicotender:</a></span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Ссылка тендера на Бикотендере" [(ngModel)]="data.bico_tender">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px"><a href="{{ data.gos_zakupki }}" target="_blank">Источник:</a></span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Источник" [(ngModel)]="data.gos_zakupki">
        </mat-form-field>
      </div>
      <div class = "rowChange">
        <span >Деньги</span>
        <span style="padding-right: 10px;padding-left: 10px">Цена:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Цена" [(ngModel)]="data.price" type="number">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Валюта:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Валюта" [(ngModel)]="data.currency" >
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Курс:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Курс"  [(ngModel)]="data.rate" type="number">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Cумма:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Сумма" [(ngModel)]="data.sum" type="number">
        </mat-form-field>
        <span style="padding-right: 10px;padding-left: 10px">Полная сумма:</span>
        <mat-form-field style="width: 90%; padding-bottom: 0px" >
          <input matInput  placeholder="Полная сумма" [(ngModel)]="data.full_sum" type="number">
        </mat-form-field>
      </div>
      <div class = "rowChange">
        <span style="padding-right: 10px;padding-left: 10px">Даты:</span>
        <mat-form-field color="primary" appearance="fill" style="padding: 5px">
          <mat-label>Дата начала</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="data.date_start" >
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="primary" appearance="fill" style="padding: 5px">
          <mat-label>Дата окончания</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="data.date_finish" >
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field color="primary" appearance="fill" style="padding: 5px">
          <mat-label>Дата торгов</mat-label>
          <input matInput [matDatepicker]="picker3" [(ngModel)]="data.date_tranding" >
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>
      <div class = "rowChange">
        <span style="padding-right: 10px;padding-left: 10px">Заказчик:</span>
        <button mat-icon-button color="primary" aria-label="Создать нового заказчика" (click)="AddCustomer()">
          <mat-icon>add</mat-icon>
        </button>
        <app-custom-autocomplet (Change)="onchangeCustomer($event)" ></app-custom-autocomplet>
        <app-contry-autocomplet ></app-contry-autocomplet>
        <mat-form-field  style="width: 30%; padding-bottom: 0px" >
          <input matInput   placeholder="ИНН заказчика" [(ngModel)]="data.inn" disabled="true">
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Изменить заказчика" (click)="ChangeCustomer()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class = "rowChange" *ngIf="!dataDialog.adjacent_tender  && !dataDialog.plan">
        Победитель:
        <button mat-icon-button color="primary" aria-label="Создать нового победителя" (click)="AddWinner()">
          <mat-icon>add</mat-icon>
        </button>
        <app-winner-autocomplet (Change)="onChangeWinner($event)"> </app-winner-autocomplet>
        <mat-form-field style="width: 30%; padding-bottom: 0px"  disabled="true">
          <mat-label>ИНН</mat-label>
          <input matInput disabled="true"  placeholder="ИН Победителя" [(ngModel)]="innWinner">
        </mat-form-field>
        <mat-form-field style="width: 30%; padding-bottom: 0px" >
          <mat-label>Сумма победителя</mat-label>
          <input matInput   placeholder="Сумма побеодителя" [(ngModel)]="data.win_sum" type="number">
        </mat-form-field>
        <button mat-icon-button color="primary" aria-label="Изменить победителя" (click)="ChangeWinner()">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>

</mat-dialog-content>
  <div class="spacer"></div>
<mat-dialog-actions align="end">
  <button mat-button (click)="setprice()">Посчитать цену</button>
  <button mat-button (click)="Save()" [disabled]="data.id == null">Сохранить</button>
  <button mat-button (click)="closeDialog()" >Закрыть</button>
</mat-dialog-actions>
</div>
