<div class="ChoseContainer mat-elevation-z8">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" hideToggle>
      <mat-expansion-panel-header>
        <h1 style="margin: auto">Условия поиска</h1>
      </mat-expansion-panel-header>
      <!-- save search_paramets-->
      <fieldset >
        <legend>Сохранненые поиски</legend>

        <app-save-parametrs (Change)="ChangeSaveParameters($event)"></app-save-parametrs>

      </fieldset>
      <!--      Date-->
      <fieldset >
        <legend>Даты и Дубликаты</legend>
        <app-data-range ></app-data-range>
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="dublicate" disabled>Показывать дубликаты!</mat-slide-toggle>
        </section>

      </fieldset>
      <!--      Type-->
      <fieldset>
        <legend> Тип</legend>
        <mat-chip-list  aria-label="Выбранные типы">
          <mat-chip *ngFor="let type of types" [selectable]="selectable"
                    [removable]="removable" (removed)="removeType(type)">
            {{type.type}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <app-autocomplet-type (Change)="ChangeType($event)"> </app-autocomplet-type>
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="TypeExclude" >Исключить выбранные типы!</mat-slide-toggle>
        </section>
      </fieldset>
      <!--      Customer-->
      <fieldset>
        <legend>Заказчик</legend>
        <mat-chip-list  aria-label="Выбранные типы">
          <mat-chip *ngFor="let customer of customers" [selectable]="selectable"
                    [removable]="removable" (removed)="removeCustom(customer)">
            {{customer.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <app-custom-autocomplet (Change)="ChangeCustom($event)"></app-custom-autocomplet>
        <mat-form-field appearance="outline" >
          <mat-label>ИНН</mat-label>
          <input matInput [(ngModel)]="innCustomer" type="text" onkeyup="this.value=this.value.replace(/[^0-9 %]/gi, '');"  [disabled]="regionsSelected">
          <mat-error></mat-error>
        </mat-form-field>
        <app-contry-autocomplet (Change)="ChangeCountry($event)" ></app-contry-autocomplet>
        <app-region-selected (Change)="ChangeRegion($event)"></app-region-selected>
        <app-district-selected (Change)="ChangeDistrict($event)" ></app-district-selected>
        <section >
          <mat-slide-toggle color="primary" [(ngModel)]="CustomExclude" [disabled] = "regionsSelected">Исключить выбранных заказчиков!</mat-slide-toggle>
        </section>
      </fieldset>
      <!--      Winner-->
      <fieldset >
        <legend>Победитель</legend>
        <mat-chip-list  aria-label="Выбранные типы">
          <mat-chip *ngFor="let winner of winners" [selectable]="selectable"
                    [removable]="removable" (removed)="removeWinner(winner)">
            {{winner.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <app-winner-autocomplet (Change)="ChangeWinner($event)" ></app-winner-autocomplet>
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="WinnersExclude" >Исключить выбранных победителей!</mat-slide-toggle>
        </section>
      </fieldset>
      <!--      Number-->
      <fieldset>
        <legend>Поиск по номерам</legend>
        <mat-form-field class="example-chip-list">
          <mat-label>Id</mat-label>
          <mat-chip-list #chipList aria-label="Выбранные ID">
            <mat-chip *ngFor="let id of ids" [selectable]="selectable"
                      [removable]="removable" (removed)="remove(id)">
              {{id}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Id..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)" >
          </mat-chip-list>
        </mat-form-field>
        <mat-form-field class="example-chip-list">
          <mat-label>Номера Бикотендера</mat-label>
          <mat-chip-list #chipListBico aria-label="Выбранные Номера Бикотендера">
            <mat-chip *ngFor="let number of number_bico" [selectable]="selectable"
                      [removable]="removable" (removed)="removeBicoNumber(number)">
              {{number}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Номер бикотендера..."
                   [matChipInputFor]="chipListBico"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="addBicoNumber($event)" >
          </mat-chip-list>
        </mat-form-field>
        <section>
          <mat-slide-toggle color="primary" [(ngModel)]="numberShow" >Исключить номера!</mat-slide-toggle>
        </section>
      </fieldset>
      <!--      Search price-->
      <fieldset>
        <legend>Поиск по цене</legend>
        <mat-form-field appearance="outline" class = "MinSum">
          <mat-label>Минимальная сумма</mat-label>
          <input matInput  [formControl]="minSum"  type="number" >
          <mat-error>Вышли за пределы 0 - 999 999 999 999</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class = "MaxSum">
          <mat-label>Максимальная сумма</mat-label>
          <input matInput [formControl]="maxSum" type="number" >
          <mat-error>Вышли за пределы 0 - 9999 999 999 999</mat-error>
        </mat-form-field>
      </fieldset>
      <!--      Product-->
      <fieldset >
        <legend>Продукты</legend>

        <mat-chip-list  aria-label="Выбранные продукты">
          <mat-chip *ngFor="let prod of product" [selectable]="selectable"
                    [removable]="removable" (removed)="removeProduct(prod)">
            {{prod.category_product?prod.category_product + ' ':''}}
            <span *ngFor="let category of prod.category">{{category.category}}&nbsp; </span>
            <span *ngFor="let subcategory of prod.subcategory">{{subcategory}} &nbsp;</span>
            <span *ngFor="let vendor of prod.vendor">{{vendor.name}}&nbsp;</span>
            <span *ngFor="let vendor_code of prod.vendor_code"> {{vendor_code.vendor}} {{vendor_code.vendor_code}};&nbsp;</span>
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

        <app-category-product (Change)="ChangeCategoryProduct($event)" ></app-category-product>
        <app-product-category-checkbox (Change)="ChangeCategory($event)"></app-product-category-checkbox>
        <app-subcategory-checkbox ></app-subcategory-checkbox>
        <app-vendor-checkbox (Change)="ChangeVendor($event)"></app-vendor-checkbox>
        <app-vendor-code-checkbox ></app-vendor-code-checkbox>
        <button mat-mini-fab color="primary" (click)="AddProduct()">
          <mat-icon>add</mat-icon>
        </button>
      </fieldset>


      <!--      <mat-form-field class="example-form-field">-->
      <!--        <mat-label>Поиск по ID</mat-label>-->
      <!--        <input matInput type="text" [(ngModel)]="id">-->
      <!--        <button *ngIf="id" matSuffix mat-icon-button aria-label="Clear" (click)="id=''">-->
      <!--          <mat-icon>close</mat-icon>-->
      <!--        </button>-->
      <!--      </mat-form-field>-->
    </mat-expansion-panel>
  </mat-accordion>
  <button class="saveFile" mat-stroked-button (click)="saveSearch()">Сохранить поиск</button>
  <button class="default" mat-stroked-button (click)="default()">Сбросить все значения</button>
  <button class="show" mat-flat-button color="primary" (click)="showTables()">Найти тендеры</button>
</div>
<div style="display: flex;
  flex-wrap: wrap;
  width: 97%;align-items: center" *ngIf="data !== null && data.id != 0">
  <button class="save" mat-stroked-button (click)="previous()" [disabled]="numberTenerInList-1<0">Предыдущий тендер</button>
  <div class="next" >{{numberTenerInList+1}} из {{countTenderInList}}</div>
  <button class="next" mat-flat-button color="primary" (click)="save()">Сохранить</button>
  <button class="next" mat-flat-button color="primary" (click)="next()" [disabled]="numberTenerInList+1===countTenderInList">Следующий тендер</button>
</div>

<div *ngIf="data !== null && data.id != 0">
  <div class = "rowHeader">
    <div>{{data.name_tender !== null ? data.name_tender : null}}</div>
    <button *ngIf="user != null && user.role !== 'ROLE_USER'" mat-icon-button color="primary" aria-label="Изменить тендер" (click)="showTenderToEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <fieldset class = "row">
    <div *ngIf="data.dublicate == true" style="color: red">Дубликат</div>
    <div>ID: {{data.id !== null ? data.id : null}}</div>
    <div>Номер на Бикотендер: {{data.number_tender !== null ? data.number_tender : null}}</div>
    <div>Тип тендера: {{data.typetender !== null ? data.typetender : null}}</div>
  </fieldset>
  <fieldset class = "row">
    <div>Биконтедер: <a href="{{ data.bico_tender !== null ? data.bico_tender : null}}" target="_blank">{{data.bico_tender  !== null ? data.bico_tender : null}}</a></div>
    <div>Источник: <a href="{{ data.gos_zakupki  !== null ? data.gos_zakupki : null}}" target="_blank">{{data.gos_zakupki !== null ? data.gos_zakupki : null}}</a></div>
  </fieldset>
  <fieldset class = "row">
    <legend>Деньги</legend>
    <div>Сумма: {{data.sum !== null ? (data.sum | currency : 'RUB':'symbol': '1.2-2':'ru'): null}}</div>
    <div>Валюта: {{data.currency !== null ? data.currency : null}}</div>
    <div>Курс: {{data.rate !== null ? data.rate : null}}</div>
    <div>Цена: {{data.price !== null ?(data.price  | currency : data.currency:'symbol': '1.2-2':'ru'): null}}</div>
    <div>Полная стоимость: {{data.full_sum !== null ?(data.full_sum  | currency : data.currency:'symbol': '1.2-2':'ru'): null}}</div>

  </fieldset>
  <fieldset class = "row">
    <legend>Даты тендера</legend>
    <div>Дата начала: {{ data.date_start !== null && data.date_start !== undefined ?(data.date_start | date:'dd.MM.yyyy': "UTC" ): null}}</div>
    <div>Дата окончания: {{ data.date_finish !== null ?(data.date_finish | date:'dd.MM.yyyy HH:mm:ss': "UTC"): null}} </div>
    <div *ngIf="data.date_tranding !== null">Дата торгов: {{ data.date_tranding!== null ?(data.date_tranding | date:'dd.MM.yyyy': "UTC" ): null}}</div>

  </fieldset>
  <fieldset class = "row">
    <legend>Заказчик</legend>
    <div>Название: {{data.customer !== null ? data.customer : null}}</div>
    <div>Страна: {{data.country !== null ? data.country : null}}</div>
    <div>ИНН: {{data.inn !== null ? data.inn : null}}</div>
  </fieldset>
  <fieldset class = "row">
    <legend>Победитель</legend>
    <button mat-icon-button color="primary" aria-label="Создать нового победителя" (click)="AddWinner()">
      <mat-icon>add</mat-icon>
    </button>
    <app-winner-autocomplet #winnerChange [id]="winner" (Change)="ChangeWinnerInTender($event)" style="width: 300px"></app-winner-autocomplet>
    <div>
      <div style="padding-bottom: 5px">Страна: {{data.winner_country !== null ? data.winner_country : null}}</div>
      <div style="padding-top: 5px">ИНН: {{data.winner_inn !== null ? data.winner_inn : null}}</div>
    </div>

    <div>Наилучшее ценовое предложение:
      <mat-form-field style="width: 100%; padding-bottom: 0px" >
      <mat-label>Сумма победителя</mat-label>
      <input matInput   placeholder="Сумма побеодителя" [(ngModel)]="data.win_sum" type="number">
    </mat-form-field>
    </div>
    <button mat-icon-button color="primary" aria-label="Изменить победителя" (click)="ChangeWinnerInDB()">
      <mat-icon>edit</mat-icon>
    </button>
  </fieldset>
  <fieldset class="row">
    <legend>Продукты</legend>
    <div>{{data.product!== null ? data.product : null}}</div>
  </fieldset>

  <div class="rowComment">
    <mat-chip-list  aria-label="Выбранные пользователя для оповещения">
      <mat-chip *ngFor="let user of users" [selectable]="selectable"
                [removable]="removable" (removed)="removeUser(user)">
        {{user.nickname}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="rowComment">
    <app-user-autocomplet (Change)="ChangeUser($event)"></app-user-autocomplet>
    <mat-form-field class="comment" appearance="fill" hintLabel="Максимум 1024 символа">
      <mat-label>Введите комментарий</mat-label>
      <textarea matInput #input placeholder="Ваш коменнтарий" [(ngModel)]="ChangeComment.text" maxlength="1024"></textarea>
      <mat-hint align="end">{{input.value?.length || 0}}/1024</mat-hint>
    </mat-form-field>
    <div>
      <button mat-mini-fab color="primary" aria-label="plus one icon" (click)="addComment()">
        <mat-icon class="iconPlus">send</mat-icon>
      </button>
    </div>
  </div>
  <div class="rowComment">
    <mat-list style="padding: 30px; width: 70%">
      <mat-list-item *ngFor="let comment of comments" style="height: fit-content">
        <div class="commentCard">
          <div class="commentBody">

            <div class="commentHeader">
              <div class="circle" tabindex="-1" [style.background-color]="UserColor.get(comment.usr)" ><div style="margin-top: 2px;margin-left: auto;color: white">{{comment.user[0].toUpperCase()}}</div></div>
              <div class="commenterName">
                {{comment.user}}
              </div>
              <div class="timestamp">
                {{comment.date | date:'dd.MM.yyyy HH:mm:ss': "UTC"}}
              </div>
            </div>
            <div class = "content">
              {{comment.text}}
            </div>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

</div>
