<h1 style="display: flex"><span style="margin: auto">Переместить продукт</span></h1>
<mat-dialog-content style="display: flex; align-items: center">
  <div class="changeDiv">
    <div>
      <app-custom-autocomplet (Change)="onChangeCustomer($event)" *ngIf="data === 0"></app-custom-autocomplet>
      <app-winner-autocomplet (Change)="onChangeWinner($event)" *ngIf="data === 1"></app-winner-autocomplet>

    </div>


  </div>
  <mat-icon>double_arrow</mat-icon>
  <div class="changeDiv">
    <div style="margin: auto">
      <app-custom-autocomplet (Change)="onChangeCustomer($event)" #newCustomer *ngIf="data === 0"></app-custom-autocomplet>
      <app-winner-autocomplet (Change)="onChangeWinner($event)" #newWinner *ngIf="data === 1"></app-winner-autocomplet>
    </div>


  </div>

</mat-dialog-content>

<mat-dialog-actions align="end" >

  <button mat-button (click)="Change()">Переместить</button>
  <button mat-button mat-dialog-close="true">Закрыть</button>
</mat-dialog-actions>
