<app-product-category-autocomplet (Change)="onChange($event)"></app-product-category-autocomplet>
<app-vendor-code-autocompleat (Change)="onChangeVendorCode($event)"></app-vendor-code-autocompleat>
<mat-form-field appearance="outline" *ngIf="vendor">
  <mat-label>Вендор</mat-label>
  <input matInput placeholder="Вендор" type="text" [(ngModel)]="vendor" >
</mat-form-field>
<mat-checkbox class="example-margin" color="primary" *ngIf="vxi != null" [(ngModel)]="vxi">VXI</mat-checkbox>
<mat-checkbox class="example-margin" color="primary" *ngIf="usb != null" [(ngModel)]="usb">USB</mat-checkbox>
<mat-checkbox class="example-margin" color="primary" *ngIf="portable != null" [(ngModel)]="portable">Портативный</mat-checkbox>
<mat-form-field appearance="outline" *ngIf="frequency != null">
  <mat-label>Частота</mat-label>
  <input matInput placeholder="Вендор" type="number" [(ngModel)]="frequency" >
</mat-form-field>
<mat-form-field appearance="legacy">
  <mat-label>Комментарий</mat-label>
  <textarea matInput placeholder="Комментарий" [(ngModel)]="comment"></textarea>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Количество</mat-label>
  <input matInput placeholder="Количество" type="number" [(ngModel)]="number" >
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Цена за шт</mat-label>
  <input matInput placeholder="Цена за шт" type="number" [(ngModel)]="price" >
</mat-form-field>
<div class="plusProduct">
  <button mat-mini-fab color="primary" aria-label="plus one icon" (click)="addProduct()">
  <mat-icon class="iconPlus">plus_one</mat-icon>
</button>
</div>
{{orders}}
