<div class ="bodyContainer mat-elevation-z8">
  <div class="tableContainer" >

    <table mat-table matSort  [dataSource]="dataSource" >

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username. </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role. </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code. </th>
        <td mat-cell *matCellDef="let element"> {{element.activationCode}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>



  <div class="EditContainer">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Select me</mat-label>
      <select matNativeControl [(ngModel)]="role">
        <option value="" selected></option>
        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
        <option value="ROLE_OPERATOR">ROLE_OPERATOR</option>
        <option value="ROLE_USER">ROLE_USER</option>

      </select>
    </mat-form-field>
    <div class="row">

      <button mat-flat-button color="primary" (click)="saveUsers()" style="position: center">Сохранить</button>
    </div>
  </div>
</div>
