
<div >
  <h4 >Ввод пароля</h4>
  <div >
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Введите свой пароль</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Введите код из письма</mat-label>
        <input matInput [(ngModel)]="code">
      </mat-form-field>

      <button mat-flat-button color="primary"  (click)="savepassword()">
        <span  class="spinner-border spinner-border-sm mr-1"></span>
        Сохранить пароль
      </button>
    <div *ngIf="error">{{error}}</div>

  </div>
</div>
